.pricing {
  background-image: url("https://mobirise.com/extensions/floram4/floral-studio/assets/images/background1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 100px 0 70px;
  .flowerPricing {
    .title {
      font-family: serif;
      font-style: italic;
      text-align: center;
      font-size: 18px;
      color: #1b745e;
    }
    h1 {
      color: #0c5b47;
      font-size: 46px;
      text-align: center;
      font-weight: 400;
    }
    .cards {
      padding: 70px 0;
      max-width: 1100px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      row-gap: 60px;
      .card {
        position: relative;
        width: 335px;
        height: 420px;
        transition: all 300ms;
        &:hover i {
          display: block;
        }
        i {
          display: none;
          position: absolute;
          right: 10px;
          top: 10px;
          font-size: 16px;
          color: white;
          background-color: #1b745e62;
          padding: 10px;
          border-radius: 50%;
        }
        img {
          width: 335px;
          height: 335px;
          object-fit: cover;
          object-position: center;
        }
        .text {
          p {
            color: #1b745e;
            font-size: 22px;
            line-height: 45px;
            text-align: center;
          }
          span {
            color: #1b745e;
            font-size: 18px;
            font-family: serif;
            display: block;
            text-align: center;
          }
        }
      }
    }
  }
}
